@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
font-family:"Montserrat", sans-serif;
padding: 0px;
margin: 0px;
}

.menu{
    background-color: royalblue;


}

.menu ul li{
display: inline-block;
width: 100px;
text-align: center;
margin: 20px;

}

.menu ul li a{
    color: whitesmoke;
    padding: 10px;
    
}
.menu ul li a:hover{
    padding: 10px;
    font-weight: bold;
    color: royalblue;
    background-color: whitesmoke;
    transition: 300ms;
    border-radius: 5px;
}
.menuicone{
    display: none;
}

a{
    text-decoration: none;
    color: #008b8b;
}




body{
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px ;
    
}

@media(max-width: 1050px){
    .menuicone{
        display: block;
        color: whitesmoke;
        text-align: left;
        font-size: 18px;
        padding: 20px;
        margin-left: 1rem;
    }
    .menu{
        text-align: center;
    }

    .menu ul{
        display: none;
    }
  
    a{
        font-size: 25px;
    }
    footer{
        font-size: 20px;
    }
    ul.mostrarmenu{
        display: inline-block;
    }

    .menu ul li{
        width: 100%;
        text-align: center;
    }
}



.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(image/frente.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.hero p {
    font-size: larger;
    font-weight: 600;
    opacity: 0.8;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.hero a{
    opacity: 0.9;
    padding: 10px 25px;
    background-color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: darkblue;
    box-shadow: 2px 2px 7px 5px  ;
    font-size: 15px;
    margin-top: 25px;
}

.hero a:hover{
    opacity: 1;
    transition: 300ms;

}

.hero p b{
color: royalblue;
}
#titulo{
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 20vh;
    color:darkorange;
}

#sobre{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around ;
    align-items: center;
    width: 100%;
    margin-bottom: 75px;
    flex-wrap: wrap-reverse;
}

.textosobre{
    text-align: center;
    width: 60%;
    height: 100%;
    background-color: royalblue;
    padding: 2rem;
    border-radius: 15px;
    color: white;
    text-align: left;
}

#sobre img{
    height: 100px;
    width: 200px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color:  royalblue;
    border-radius: 5px 5px 0px 0px;
    color: whitesmoke;
}

