@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

section{
    max-width: 600px;
    max-height: 600px;
    box-shadow: 2px 2px 7px #008b8b;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    background-color: whitesmoke;
    margin-bottom: 15px;

    /* alinhado a section */
    display: flex;
    flex-direction: column;
    align-items: center;

   font-family:"Montserrat", sans-serif;
    animation: animar alternate infinite 3s; 

    background-image: url(https://cdn.photoroom.com/v1/assets-cached.jpg?path=backgrounds_v3/white/Photoroom_white_background_extremely_fine_texture_only_white_co_b923d1bf-f41f-4fe1-993c-1c75fb26b8d4.jpg);

}


.menu{
    background-color: #151517 ;
    margin-bottom: 15px;
}

.menu ul li{
display: inline-block;
width: 100px;
text-align: center;
margin: 20px;

}

.menu ul li a{
    color: whitesmoke;
    padding: 10px;
    
}
.menu ul li a:hover{
    padding: 10px;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    transition: 300ms;
    border-radius: 5px;
}

.menuicone{
    display: none;
}
@media(max-width: 1050px){
    .menuicone{
        display: block;
        color: whitesmoke;
        text-align: left;
        font-size: 18px;
        padding: 20px;
        margin-left: 1rem;
    }

    .menu ul{
        display: none;
    }
    section{
       max-width: 80%;
       font-size: 25px;
    }

    td{
        font-size: 20px;
    }

    a{
        font-size: 25px;
    }
    footer{
        font-size: 20px;
    }
    ul.mostrarmenu{
        display: inline-block;
    }

    .menu ul li{
        width: 100%;
        text-align: center;
    }
}

body{
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    background: radial-gradient( circle, mediumturquoise, darkcyan);
    padding: 0px;
    margin: 0px ;
    
}

h3{
    font-size: 25px;
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: #008b8b;
}

table{
    width: 100%;
    text-align: center;
}

th{
    color: whitesmoke;
    background-color: #008b8b;
    font-size: 20px;
}

th, td{
    padding: 1rem;
    font-weight: 500;
    
}


ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#redes ul li{   
    font-size: 20px;
    padding-bottom: 10px;
    margin-right: 32px;
}

#redes ul li a:hover{
    color: black;
    font-size: 22px;
    transition: 300ms;
    
}

footer{
    text-align: center;
    padding: 5px;
    background-color:  #151517;
    border-radius: 5px 5px 0px 0px;
    color: whitesmoke;

}
@keyframes animar{
    0%{box-shadow: 5px 5px 5px mediumturquoise;}
    25%{box-shadow: 5px 5px 5px mediumaquamarine;}
    50%{box-shadow: 5px 5px 5px darkcyan;}
    100%{box-shadow: 5px 5px 5px #008b8b;}
}

.painel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
}

img{
    border-radius: 25px;
    box-shadow: 2px 2px 10px black;
}